@font-face {
	font-family: 'Deliria';
	src: url(../../assets/fonts/Deliria.woff2) format('woff2'),
	url(../../assets/fonts/Deliria.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}